*{
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #00011b;
}

[data-testid="stDecoration"] {
    border: 2px solid #2197db;
    background-color: blue;
}
#identibear{
    font-size: 4rem;
}

[data-testid="stImage"]{
    width:30vh;
    height:auto

}

[data-testid="stHeader"]{
    background-color: #00011b;
    
}

[data-testid="stAppViewBlockContainer"]{
    margin-top: 10vh;
    background-color: rgba(4, 2, 26, 0.73);
    border-radius: 20px;
    
}